<p>
  <strong>Instructions:</strong>
  Click each item, look in the console. Now, filter the list by entering 'Item
  3' for example. Clicking the item now doesn't work
</p>

<Input @value={{this.query}} />

<ul>
  {{#each this.filteredGroups as |group|}}
    <li>
      {{group.title}}

      <ul>
        {{#each group.items as |item|}}
          <li {{this.item}}>
            {{item.name}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>